<%= render 'shared/user_card', user_card: @users %>  
<div class="d-flex profile-wrapper">
  <div class="user-bio">
    <h3>Bio</h3>
    <%= @users.bio %>
  </div>
  <%= render 'shared/post_card', post_card: @post %>  
  <a href="/users/<%= @users.id %>/posts" class="profile-btn">
    <h4">See all post</h4>
  </a>
</div>


