<ul class="user-post d-flex">
  <% @post.each do |post| %>
    <li class="user-post-cards">
      <h4>Post No: <%= post.id %></h4>
      <h3><%= post.title %></h3>
      <h4>Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %></h4>
    </li>
  <% end %>
</ul>