<div class="d-flex profile-wrapper">
  <%= render 'shared/user_card', user_card: @users %>
  <% if @post.empty? %>
    <h3>No data yet</h3>
    <%= link_to "New Post", new_user_post_path, class: 'new-post-btn' %>
  <% else %>
    <%= link_to "New Post", new_user_post_path, class: 'new-post-btn' %>
    <% @post.each do |user_post| %>
      <%= render 'shared/comment', user: @users, user_post: user_post %>
    <% end %>
  <% end %>
</div>
<a href="#">pagination</a>