/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.d-flex {
  display: flex;
}

.container {
  border: 2px solid aqua;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.cards-layout {
  flex-direction: row;
  justify-content: space-between;
}

.photo {
  border: 2px solid teal;
}

.user-info {
  border: 2px solid rosybrown;
  width: 75%;
}

.profile-wrapper {
  flex-direction: column;
  gap: 20px;
}

.user-bio {
  border: 2px solid teal;
  padding: 2vh 1vh;
}

.user-post {
  padding-left: 0;
  gap: 20px;
  flex-direction: column;
}

.user-post-cards {
  padding: 1vh;
  border: 2px solid teal;
  list-style: none;
}

.full-post-title {
  flex-direction: column;
  border: 2px solid teal;
  padding: 2vh 2vh;
}

.full-post-header {
  gap: 20%;
}

.full-comments-wrapper {
  border: 2px solid teal;
  padding: 2vh 2vh;
  list-style: none;
}
