/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Fresca&family=Poppins:ital,wght@1,100;1,400&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Fresca', sans-serif;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.header {
  text-align: center;
  color: aliceblue;
  margin: 0;
  padding: 2rem;
  border: 3px solid yellowgreen;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.d-flex {
  display: flex;
}

.container {
  padding: 2rem 0 2rem 0;
  justify-content: space-around;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin: 0;
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

}

.cards-layout {
  flex-direction: row;
  gap: 20px;
  border: 2px solid greenyellow;
  border-radius: 3rem;
  width: 35%;
  padding: 2.5rem;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.photo {
  border: 2px solid teal;
  object-fit: cover;
  width: 40%;
  border-radius: 10%;
}

.user-info {
  width: 60%;
  flex-direction: column;
}

.user-info h3 {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.user-info h4 {
  margin: 0;
}

.profile-btn {
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  color: aliceblue;
  height: 10px;
  border-radius: 3rem;
  align-self: flex-end;
  background-image: radial-gradient(#0acffe 20%, #495aff 100%);
}

.profile-wrapper {
  flex-direction: column;
  gap: 20px;
  padding: 3rem;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

.user-bio {
  border: 2px solid teal;
  padding: 2vh 1vh;
  background-image: radial-gradient(#5D9FFF 0, #6BBBFF 100%);
  border-radius: 2rem;
  padding: 2rem;
}

.user-post {
  padding-left: 0;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.user-post-cards {
  padding: 1vh;
  border: 2px solid teal;
  width: 40%;
  text-align: center;
  border-radius: 2rem;
  background-image: radial-gradient(#5D9FFF 0, #6BBBFF 100%);
  list-style: none;
}

.links {
  color: black;
  text-decoration: none;
}

.user-post-cards h4 {
  text-align: right;
  padding-right: 2rem;
}

.full-post-title {
  flex-direction: column;
  border: 2px solid teal;
  border-radius: 3rem;
  margin: 3rem;
  padding: 2rem;
  background-image: radial-gradient(#5D9FFF 0, #6BBBFF 100%);
}

.full-post-header {
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid rosybrown;
  border-radius: 3rem;
  background-color: #c2e59c;
}

.full-comments-wrapper {
  border: 2px solid teal;
  border-radius: 3rem;
  padding: 2rem;
  margin: 5rem;
  list-style: none;
  background-image: radial-gradient(#5D9FFF 0, #6BBBFF 100%);
}
